<%= render '/shared/page_title', title: "Sign up for the application"%>

<%= render 'shared/errors' , obj: @chef%>

<div class="row">
	<div class="col-md-12">
		<%= form_for(@chef, :html => { class: "form-horizontal", role: "form"}) do |f|%>
			<div class="form-group row">
				<div class="control-label offset-md-1 col-md-1">
					<%= f.label :chefname, "Name"%>
				</div>
				<div class="col-md-8">
					<%= f.text_field :chefname, class: "form-control", placeholder: "Enter your name", autofocus: true%>
				</div>
			</div>

			<div class="form-group row">
				<div class="control-label offset-md-1 col-md-1">
					<%= f.label :email%>
				</div>
				<div class="col-md-8">
					<%= f.email_field :email, class: "form-control", placeholder: "Enter your email", autofocus: true%>
				</div>
			</div>

			<div class="form-group row">
				<div class="control-label offset-md-1 col-md-1">
					<%= f.label :password%>
				</div>
				<div class="col-md-8">
					<%= f.password_field :password, class: "form-control", placeholder: "Choose a password", autofocus: true%>
				</div>
			</div>

			<div class="form-group row">
				<div class="control-label offset-md-1 col-md-1">
					<%= f.label :password_confirmation, "Confirm password"%>
				</div>
				<div class="col-md-8">
					<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password", autofocus: true%>
				</div>
			</div>

			<div class="form-group row">
				<div class="offset-md-2 col-md-8">
					<%= f.submit "Create my Account",class: "btn btn-success btn-lg" %>
				</div>
			</div>
		<% end %>

		<div class=" offset-md-4 col-md-4 colormatch" >
			[<%= link_to "cancel request and return to recipes list" , recipes_path%>]
		</div><br><br>
	</div>
</div>
