<%= render '/shared/page_title', title: "Available ingredients"%>

<div align="center">
	<% @ingredients.each do |ing| %>
		<ul class="listing">
			<div class="row">
				<div class="offset-md-4 col-md-4 card card-body bg-light">
					<li class="chef-title"><%= link_to ing.name.capitalize, ingredient_path(ing)%></li>
					<li><small><%= pluralize(ing.recipes.count, "recipe") if ing.recipes %></small></li>
					<% if logged_in? && current_chef.admin?%>
						<li>
							<%= link_to "Edit this ingredient", edit_ingredient_path(ing)%>			
						</li>
					<%end%>			
				</div>	
			</div>
		</ul>
	<% end %>
	<%= will_paginate%>
</div>

